<h1>Properties</h1>

<h2>Favorites</h2>

<%= render :partial => "properties", :locals => { :properties => @favorite_properties }%>

<h2>Others</h2>

<%= render :partial => "properties", :locals => { :properties => @unfavorite_properties }%>


<%= link_to 'New property', new_property_path %>