<p>
    <%= link_to 'New property', new_property_path %>
</p>

<h2>Favorites</h2>

<%= render :partial => "properties", :locals => { :properties => @favorite_properties }%>

<h2>Others</h2>

<%= render :partial => "properties", :locals => { :properties => @unfavorite_properties }%>

<h2>Archives</h2>

<%= render :partial => "properties", :locals => { :properties => @archived_properties }%>

